@using Bella.Models.CLS

@{
    Layout = null;
}
    <header id="topnav">
        <div class="topbar-main">
            <div class="container">

                <!-- Logo container-->
                <div class="logo">
                    <a href="/Admin/Index" class="logo">AA Shop</a>
                </div>
                <!-- End Logo container-->
                <div class="menu-extras">



                    <ul class="nav navbar-nav ">

                        <li class="dropdown navbar-c-items">
                            <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                <img src="~/Sablon/image/MenuResim/anasayfa.png" alt="image" class="img -responsive thumb-sm" style="margin-left: auto; margin-right: auto ;
									 width:25px;height:25px;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg">


                                <li>
                                    <a href="~/Admin/Urunekle">Ürün Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/SlidesEkle">Slides Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/CokSatan">Cok Satan Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/OneCikan">One Çıkan Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Songonderiekle">Son Gönderi Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Firmaekle">Firma Ekle</a>
                                </li>

                                <li>
                                    <a href="~/Admin/Altenyeniekle">Alt Yeni Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Altaksesuarekle">Alt Aksesuar Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Altoylananekle">Alt Oylanan Ekle</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Uyarıekle">Uyarı Ekle</a>
                                </li>
                            </ul>

                        </li>
                        <li class="dropdown navbar-c-items">
                            <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                <img src="~/Sablon/image/MenuResim/onay.png" alt="image" class="img -responsive thumb-sm" style="margin-left: auto; margin-right: auto ;
									 width:25px;height:25px;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg">


                                <li>
                                    <a href="~/Admin/Hakkimizdaekle">Hakkımızda  Düzenle</a>
                                </li>

                            </ul>

                        </li>
                        <li class="dropdown navbar-c-items">
                            <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                <img src="~/Sablon/image/MenuResim/kullanicilar.png" alt="image" class="img -responsive thumb-sm" style="margin-left: auto; margin-right: auto ;
									 width:25px;height:25px;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg">


                                <li>
                                    <a href="~/Admin/Iletisimekle">İletişim Düzenle</a>
                                </li>

                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>