
@{
   Layout = null;
}
    <div class="col-md-3">
        <div class="widget">
            <h4 class="widget-title">HABER MEKTUBU</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <form action="#">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="
Mailinizi Girin ve 10 &#8378; Nakit Kazanın" />
                </div>
                <div class="form-group">
                    <button class="btn btn-theme btn-theme-transparent"> Abone ol  </button>
                </div>
            </form>
        </div>
    </div>


