
@{
    Layout = null;
}


    <div class="col-md-3">
        <div class="widget widget-categories">
            <h4 class="widget-title">BİLGİ</h4>
            <ul>
                <li><a href="#">HAKKIMIZDA</a></li>
                <li><a href="#">Teslimat Bilgisi</a></li>
                <li><a href="#"> Bizimle iletişime geçin</a></li>
                <li><a href="#">Şartlar ve koşullar</a></li>
                <li><a href="#">Özel politika</a></li>
            </ul>
        </div>
    </div>
