
@{
    Layout = null;
}
<div class="col-md-3">
    <div class="widget widget-tag-cloud">
        <h4 class="widget-title">ÖĞE ETİKETLERİ</h4>
        <ul>
            <li><a href="#">Moda</a></li>
            <li><a href="#">kot</a></li>
            <li><a href="#">Çok satanlar</a></li>
            <li><a href="#">E ticaret</a></li>
            <li><a href="#">Sıcak fırsatlar</a></li>
            <li><a href="#">satıcı</a></li>
            <li><a href="#">Dükkan</a></li>
            <li><a href="#">Tema</a></li>
            <li><a href="#">Website</a></li>
           
        </ul>
    </div>
</div>




