
@{
    Layout = null;
}

<div class="top-bar">
    <div class="container">
        <div class="top-bar-left">
            <ul class="list-inline">
                <li class="icon-user"><a href="~/Giris/Giris"><img src="../assets/img/icon-1.png" alt="" /> <span>Oturum Aç</span></a></li>
                <li class="icon-form"><a href="~/Giris/Kaydol"><img src="../assets/img/icon-2.png" alt="" /> <span>Üye Değilmisin? <span class="colored">Kaydol</span></span></a></li>
                <li><a href="mailto:support@yourdomain.com"><i class="fa fa-envelope"></i> <span>support@yourdomain.com</span></a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="list-inline">
                <li class="hidden-xs"><a href="~/Home/Index">Anasayfa</a></li>

                <li class="dropdown currency">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">&#8378; TL<i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">&#8378; TL</a></li>

                    </ul>
                </li>
               
</ul>
        </div>
    </div>
</div>


