
@{
   Layout = null;
}

    <nav class="navigation closed clearfix">
        <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
        <ul class="nav sf-menu">
            <li class="active">
                <a href="~/Home/Index">Anasayfa</a>

            </li>
            <li class="megamenu">
                <a href="~/Urunler/IndexUrun">Ürünler</a>
            </li>
            <li href="#"><a href="~/Iletisim/Index">İletişim</a></li>
            <li  href="#" class="sale"><a href="~/Blog/IndexBlog">Hakkımızda</a></li>
            

        </ul>  </nav>

