
@{
    Layout = null;
}


<section class="page-section">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("PageSection7TSellers", "Home");} @*component*@
            @{Html.RenderAction("PageSection7Accessories", "Home");} @*component*@
            @{Html.RenderAction("PageSection7Newest", "Home");} @*component*@

        </div>
    </div>
</section>
