@model List<Bella.Models.Slides>
@{
    Layout = null;
}
@if (Model != null)
{
    <section class="page-section">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {<div class="col-md-6">

                        <div class="thumbnail no-border no-padding thumbnail-banner size-1x3">
                            <div class="media">
                                <a class="media-link" href="#">
                                    <div class="img-bg" style="background-image: url(..@item.Resim)"></div>
                                    <div class="caption">
                                        <div class="caption-wrapper div-table">
                                            <div class="caption-inner div-cell">
                                                <h2 class="caption-title"><span>@item.Baslik</span></h2>
                                                <h3 class="caption-sub-title"><span>@item.Orta</span></h3>
                                                <span class="btn btn-theme btn-theme-sm">@item.Butonyazi</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
